.form-consult {
    width: 650px;
    background: #24303c;
    align-items: center;
    padding: 30px;
    margin: auto;
    margin-top:  100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    text-align:  center;
    box-shadow: 7px 13px 37px #000;
}


.result-client {
    width: 650px;
    background: #24303c;
    padding: 10px;
    margin: auto;
    margin-top:  100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    text-align:  center;
    box-shadow: 7px 13px 37px #000;
    margin-top: 10px;
}

.client-preferences {
    width: 650px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top:  100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    text-align:  center;
    box-shadow: 7px 13px 37px #000;
    margin-top: 40px;
}

.new-client {
    width: 650px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top:  100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    text-align:  center;
    box-shadow: 5px 13px 37px #000;
    margin-top: 40px;
}

.btn-lb2{
    width: 100%;
    display: flex;
    justify-content:center;
}


.btn-lb2 button{
    flex-basis: 48%;
    font-size: 16px;
    background-color: rgb(6, 119, 119);
    color: antiquewhite;
    height: 40px;
    border-radius: 10px;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: background 2s;
}

.btn-lbl{
    width: 100%;
    display: flex;
    justify-content: space-between;
   }

.btn-lbl button{
    flex-basis: 48%;
    font-size: 16px;
    background-color: rgb(6, 119, 119);
    color: antiquewhite;
    height: 40px;
    border-radius: 10px;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: background 1s;
}

.new-order {
    width: 700px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top:  100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    text-align:  center;
    box-shadow: 7px 13px 37px #000;
    margin-top: 40px;
}

.new-order p {
    height: 50px;
    text-align:  center;
    font-size: 22px;
    line-height: 40px;
    padding: 30px ;
}

.hidden {
    display: none;
}

/* Estilo para las celdas de la tabla */
.table-container table td, .table-container table th {
    border: 1px solid #ccc; /* Borde de las celdas */
    padding: 8px; /* Espaciado interno */
    text-align: center; /* Alineación del texto en las celdas */
}

.table-container table {
    margin: 0 auto;
    width: 100%;
}
