/* Estilo para el contenedor de la tabla */
.table-container {
    margin: 0 auto; /* Centro horizontalmente */
    max-width: 400px; /* Ancho máximo del contenedor */
    padding: 10px; /* Espaciado interno */
    background-color: #fff; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    border-radius: 4px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilo para la tabla */
.table-container table {
    width: 100%;
    border-collapse: collapse; /* Colapsar bordes de la tabla */
}

/* Estilo para las celdas de la tabla */
.table-container table td, .table-container table th {
    border: 1px solid #ccc; /* Borde de las celdas */
    padding: 8px; /* Espaciado interno */
    text-align: left; /* Alineación del texto en las celdas */
}

/* Estilo para los encabezados de la tabla */
.table-container table th {
    background-color: #f5f5f5; /* Fondo del encabezado */
    font-weight: bold; /* Negrita en el encabezado */
}

/* Resto de tus estilos CSS */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

#ClienteRequestForm {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#actualizarModelo {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
    font-size: 8px; 
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"] {
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    padding: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

h2 {
    color: #333;
}

.hidden {
    display: none;
}

#nueva_preferencia {
    width: 200px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    padding: 5px;
}

#registro_preferencia {
    width: 200px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    padding: 5px;
}
